<h3><%= @description %></h3>

<form action="/output">
  <div class="form-group">
    <label for="length">Length (inches):</label>
    <input name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width (inches): </label>
    <input name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Height (inches): </label>
    <input name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">Weight (pounds): </label>
    <input name="weight" class="form-control" type="text">
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="wrap" value="do" checked>
      Wrap
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="wrap" value="do not">
      Don't wrap
    </label>
  </div>
  <button type="submit" class="btn bg-info">Go!</button>
</form>
